:root{
    --border-color-light: #D7FFF1;
    --border-color-dark: #77AF9C;
    --text-color-primary: #FFFFF3;
    --color-primary:#8CD790;
    --color-primary-light-3: #FFEEE4;
    --color-primary-dark-2:#E0E3DA;
    --text-color-regular: #5CAB7D;
    --border-radius: 5px;

    --background-color-dark:#285943;
    --background-color-light:rgb(90, 147, 103);

    --font-size-base: 14px;


    --title-font-size: 2.5rem;
}
